.topbar {
  display: flex;
  height: 36px;
  width: calc(100%);
  align-items: center;
  background-color: #474747;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.topbar_phone {
  display: flex;
  align-items: center;
  color: #f9f9f7;
  font-size: 12.8px;
  gap: 6.4px;
}

.topbar_email {
  display: flex;
  align-items: center;
  color: #f9f9f7;
  font-size: 12.8px;
  gap: 6.4px;
}

.topbar_left {
  display: flex;
  width: 255.2px;
  gap: 20px;
  position: absolute;
  right: calc(100% - 382.4px);
}

.topbar_right {
  text-align: right;
  position: absolute;
  left: calc(100% - 220px);
}

.topbar_right > a > img {
  gap: 3.2px;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
}

.header {
  width: 1034.4px;
  height: 44px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  top: 59.2px;
  left: 121.2px;
}

.menu > li {
  display: inline-block;
  vertical-align: middle;
  gap: 8px;
}

.menu > li > a {
  display: flex;
  align-items: center;
  font-size: 12.8px;
  text-decoration: none;
  border-radius: 27.2px;
  padding: 3.2px 12.8px 3.2px 12.8px;
  color: #2c2f24;
  font-weight: 400;
}
.menu > li > a:hover {
  background-color: #dbdfd0;
}

.header > ul {
  width: 348.488px;
  height: 25.6px;
  margin-left: 150.848px;
}

.header > button {
  background-color: white;
  color: #182226;
  border: 1.5px solid #182226;
  width: 89.6px;
  height: 38.4px;
  border-radius: 24px;
  font-size: 12.8px;
  font-weight: 500;
}

.header > button:hover {
  background-color: #182226;
  color: #dbdfd0;
  width: 89.6px;
  border: none;
  height: 38.4px;
  border-radius: 24px;
  font-size: 12.8px;
  font-weight: 500;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.main {
  background-image: url(../img/home_bg.png);
  background-repeat: no-repeat;
  width: calc(100%);
  height: 641px;
  position: absolute;
  top: 120px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding-top: 250px;
}

.main > p {
  font-size: 16px;
  font-weight: 320px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.main_button01 {
  border: none;
  display: inline-block;
  text-align: center;
  background-color: #ad343e;
  color: #ffffff;
  width: 102.4px;
  height: 51.2px;
  border-radius: 30px;
  font-size: 12.8px;
  font-weight: 500;
}

.main_button02 {
  background-color: white;
  color: #182226;
  border: 1.5px solid #182226;
  display: inline-block;
  text-align: center;
  width: 102.4px;
  height: 51.2px;
  border-radius: 30px;
  font-size: 12.8px;
  font-weight: 500;
  margin-left: 12.8px;
}

.main > h1 {
  color: #2c2f24;
  font-size: 100px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
